{% extends "base.html" %}
{% block content %}
<div style="margin-bottom: 50px" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <div style="margin-left: 250px">
        <video width="768" height="600" controls>
          <source src="{{url_for('static',filename=bkv_path)}}" type="video/mp4">
          您的浏览器不支持 HTML5 video 标签。
        </video>
    </div>
    <div style="margin-left: 150px;margin-top: 50px">
        <div class="row">
            <div >
                <canvas id="fra_bk" style="height:400px;width:1050px"></canvas>
            </div>
        </div>
    </div>


<script>
    var ctx = document.getElementById("fra_bk").getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{labelx}},
        datasets: [{
            label: '#normal',
            data: {{bkdata}},
            backgroundColor:'rgba(0, 153, 204,0.2)',
            borderColor: 'rgba(0, 153, 204,1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    });
</script>


</div>
{% endblock %}
